<a href="https://colab.research.google.com/github/Brymg/Projects/blob/main/SQL_Clase.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import sqlite3 as sql

def createDB():
  conn = sql.connect("Clase.db")
  conn.commit()
  conn.close()
  print("Cree la base de datos")

#Creamos la tabla
def tableDB():
  conn = sql.connect("Clase.db")
  cursor = conn.cursor()
  cursor.execute("""CREATE TABLE  datos(
    authorMeta/avatar TEXT,
    authorMeta/bioLink TEXT,
    authorMeta/commerceUserInfo/commerceUser TEXT,
    authorMeta/digg INT,
    authorMeta/fans INT,
    authorMeta/following INT,
    authorMeta/heart INT,
    authorMeta/id INT,
    authorMeta/name TEXT,
    authorMeta/nickName TEXT,
    authorMeta/privateAccount TEXT,
    authorMeta/region TEXT,
    authorMeta/roomId INT,
    authorMeta/ttSeller TEXT,
    authorMeta/verified TEXT,
    authorMeta/video INT,
    commentCount INT,
    createTime INT,
    createTimeISO INT,
    diggCount INT,
    id INT,
    isAd INT,
    locationCreated TEXT,
    mediaUrls/0 TEXT,
    mentions/0 TEXT,
    mentions/1 TEXT,
    mentions/2 TEXT,
    mentions/3 TEXT,
    musicMeta/coverMediumUrl TEXT,
    musicMeta/musicAlbum TEXT,
    musicMeta/musicAuthor TEXT,
    musicMeta/musicId INT,
    musicMeta/musicName TEXT,
    musicMeta/musicOriginal TEXT,
    musicMeta/playUrl TEXT,
    playCount INT,
    shareCount INT,
    submittedVideoUrl TEXT,
    text.1 TEXT,
    videoMeta/coverUrl TEXT,
    videoMeta/definition TEXT,
    videoMeta/downloadAddr TEXT,
    videoMeta/duration INT,
    videoMeta/format TEXT,
    videoMeta/height INT,
    videoMeta/originalCoverUrl TEXT,
    videoMeta/originalDownloadAddr TEXT,
    videoMeta/width INT,
    webVideoUrl TEXT)
    );"""
  )
  conn.commit()
  conn.close()
  print("Cree la tabla")

def insertRow(authorMeta/avatar,	authorMeta/bioLink,	authorMeta/commerceUserInfo/commerceUser,	authorMeta/digg,	authorMeta/fans,	authorMeta/following,	authorMeta/heart,	authorMeta/id,	authorMeta/name,	authorMeta/nickName,	authorMeta/privateAccount,	authorMeta/region,	authorMeta/roomId,	authorMeta/ttSeller,	authorMeta/verified,	authorMeta/video,	commentCount,	createTime,	createTimeISO,	diggCount,	id,	isAd,	locationCreated,	mediaUrls/0,	mentions/0,	mentions/1,	mentions/2,	mentions/3,	musicMeta/coverMediumUrl,	musicMeta/musicAlbum,	musicMeta/musicAuthor,	musicMeta/musicId,	musicMeta/musicName,	musicMeta/musicOriginal,	musicMeta/playUrl,	playCount,	shareCount,	submittedVideoUrl	text.1,	videoMeta/coverUrl,	videoMeta/definition,	videoMeta/downloadAddr,	videoMeta/duration,	videoMeta/format,	videoMeta/height,	videoMeta/originalCoverUrl,	videoMeta/originalDownloadAddr,	videoMeta/width,	webVideoUrl):
  conn = sql.connect("Clase.db")
  cursor = conn.cursor()
  query = f"INSERT INTO datos VALUES ({authorMeta/avatar},{authorMeta/bioLink},	{authorMeta/commerceUserInfo/commerceUser},	{authorMeta/digg},	{authorMeta/fans},	{authorMeta/following},	{authorMeta/heart},	{authorMeta/id},	{authorMeta/name},	{authorMeta/nickName},	{authorMeta/privateAccount},	{authorMeta/region},	{authorMeta/roomId},	{authorMeta/ttSeller},	{authorMeta/verified},	{authorMeta/video},	{commentCount},	{createTime},	{createTimeISO},	{diggCount},	{id},	{isAd},	{locationCreated},	{mediaUrls/0},	{mentions/0},	{mentions/1},	{mentions/2},	{mentions/3},	{musicMeta/coverMediumUrl},	{musicMeta/musicAlbum},	{musicMeta/musicAuthor},	{musicMeta/musicId},	{musicMeta/musicName},	{musicMeta/musicOriginal},	{musicMeta/playUrl},	{playCount},	{shareCount},	{submittedVideoUrl},	{text.1},	{videoMeta/coverUrl},	{videoMeta/definition},	{videoMeta/downloadAddr},	{videoMeta/duration},	{videoMeta/format},	{videoMeta/height},	{videoMeta/originalCoverUrl},	{videoMeta/originalDownloadAddr},	{videoMeta/width},	{webVideoUrl});"
  cursor.execute(query)
  conn.commit()
  conn.close()

def insertRow(list):
  conn = sql.connect("Clase.db")
  cursor = conn.cursor()
  query = f"INSERT INTO datos VALUES (?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,)"
  cursor.executemany(query,list)
  conn.commit()
  conn.close()
  print("Agregue varios datos")



#PRINCIPAL

if __name__ == "__main__":
  print("Ejemplo Sql")
  createDB()
  #tableDB()

Ejemplo Sql
Cree la base de datos